.gradle/
build/
composeApp/build/
innertube/build/
kugou/build/
lrclib/build/
lastfm/build/
simpmusic/build/
betterlyrics/build/
kizzy/build/
canvas/build/
local.properties
.idea/
*.iml
.DS_Store
Thumbs.db
*.apk
*.ap_
*.aab
